
form{
  justify-content: center;
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 40rem;
  margin: 0 auto; 
}

#pass-err {
  color: red;
  padding: 1rem;
}

.toggle-text {
  color: black;
  padding: 1rem;
}

.loginButton {
  margin-top: 1.5rem;
}


ion-input{
  margin-top: 1rem;
}