
<!-- STUDENTE -->
   <ion-buttons slot="end"  *ngIf="user$ | async as user">
      <input type="checkbox" id = "nav-toggle" class="nav-toggle" />
      <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
          <span></span>
         <span></span>
       </label>
      @if (user.role === 'studente'){
        <div class = "nav-links">
          <ion-button [routerLink]="['/']"> Home </ion-button>
          <ion-button [routerLink]="['plan']"> Prenotazione </ion-button>
          <ion-button [routerLink]="['/dashboard']">Risultati</ion-button>
          <ion-button (click)="logout()">Logout</ion-button>
        </div>
      }

      <!-- PROFESSORE -->
      @if (user.role === 'professore'){
        <ng-container>
          <ion-button [routerLink]="['/']"> Home </ion-button>
          <ion-button [routerLink]="['/dashboard']">Dashboard</ion-button>
          <ion-button [routerLink]="['request']"> Richieste </ion-button>
          <ion-button (click)="logout()">Logout</ion-button>
        </ng-container>
      }

      <!-- SEGRETERIA -->
      @if (user.role === 'segreteria'){
        <ng-container>
          <ion-button [routerLink]="['/']"> Home </ion-button>
          <ion-button [routerLink]="['/dashboard']">Dashboard</ion-button>
          <ion-button [routerLink]="['request']"> Richieste </ion-button>
          <ion-button (click)="logout()">Logout</ion-button>
        </ng-container>
      }
    </ion-buttons>