  <!-- STUDENTE -->
   <ion-buttons slot="end"  *ngIf="user$ | async as user">
      @if (user.role === 'studente'){
        <ng-container>
          <ion-button [routerLink]="['/']"> Home </ion-button>
          <ion-button [routerLink]="['/dashboard']">Dashboard</ion-button>
          <ion-button [routerLink]="['plan']"> Esami </ion-button>
          <ion-button (click)="logout()">Logout</ion-button>
        </ng-container>
      }

      <!-- PROFESSORE -->
      @if (user.role === 'professore'){
        <ng-container>
          <ion-button [routerLink]="['/']"> Home </ion-button>
          <ion-button [routerLink]="['/dashboard']">Dashboard</ion-button>
          <ion-button [routerLink]="['request']"> Richieste </ion-button>
          <ion-button (click)="logout()">Logout</ion-button>
        </ng-container>
      }

      <!-- SEGRETERIA -->
      @if (user.role === 'segreteria'){
        <ng-container>
          <ion-button [routerLink]="['/']"> Home </ion-button>
          <ion-button [routerLink]="['/dashboard']">Dashboard</ion-button>
          <ion-button [routerLink]="['request']"> Richieste </ion-button>
          <ion-button (click)="logout()">Logout</ion-button>
        </ng-container>
      }
    </ion-buttons>
