ion-button{
    font-size: 10px;
    background: rgba(255, 255, 255, 0.747);
    color: grey;
    max-width: 100px;
    max-height: 50px;
}

@media (prefers-color-scheme: dark) {
  ion-button {
    background: #333; 
    color: white; 
  }
}