/*
ion-button{
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  --padding-start: 1rem;
  --padding-end:   1rem;
  --min-width:     80px;
    font-size: 10px;
    background: rgba(255, 255, 255, 0.747);
    color: rgba(128, 128, 128, 0.63);
    max-width: 100px;
    max-height: 30px; 
} 
*/


/*Hamburger menu*/
.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;         
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.nav-toggle-label span {
  display: block;
  height: 3px;
  border-radius: 2px;
  background:#333;
}

.nav-links{
  display: flex;
}




@media (max-width: 768px) {
  .nav-toggle-label {
    display: flex;
  }
  .nav-links {
    display: none;           
    flex-direction: column;  
    width: 100%;
    background: linear-gradient(
    to bottom right,
    #b0e6fa,
    #1da4e2   
   );
    color: white;
    padding: 1rem;
  }

  .nav-toggle:checked ~ .nav-links {
    display: flex;
  }
}

@media (prefers-color-scheme: dark) {
  .nav-toggle-label span  {
    background: white;
  }

}

.tabs-container {
  ion-tab-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}