
ion-button{
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  --padding-start: 1rem;
  --padding-end:   1rem;
  --min-width:     80px;
    font-size: 10px;
    background: rgba(255, 255, 255, 0.747);
    color: rgba(128, 128, 128, 0.63);
    max-width: 100px;
    max-height: 30px; 
} 

@media (prefers-color-scheme: dark) {
  ion-button {
    background: #333; 
    color: white; 
  }
}