.buttons[type="green"]{
  font-size: 14px;
  background: linear-gradient(
    to bottom right,
    #b3e286,
    #33c553   
  );
}

.buttons[type="red"]{
  font-size: 14px;
  background: linear-gradient(
    to bottom right,
    #f09797,
    #d82525   
  );
}

a {
  color: black;
}

.professors-list {
  transition: 
    filter 0.3s ease-in,
    box-shadow 0.3s ease-in;
    background-color: 0.3s ease-in;
  cursor: pointer;        
  background-color: #ffffff;
  border-radius: 4px;
}

.professors-list:hover {
  filter: brightness(90%);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  background-color: #ccc;
}

.showing-courses {
  background: linear-gradient(
    to bottom right,
    #b0e6fa,
    #1da4e2   
  );
  color: white;
}

.buttons {
  justify-content: center;
  align-items: center;
  height: 20px;
  font-size: 12px;
}

.alert{
  background: linear-gradient(
    to bottom right,
    #f09797,
    #d82525   
  );
  color: white;
}

.clickable-row {
  cursor: pointer;
}


