<ion-content>
<ng-container class="container" *ngIf="user$ | async as user"> 
  <!-- 
@if (this.user?.role === 'studente') {
    <ng-container class="dashboard">
      <ion-title>Dashboard Studente</ion-title>
      <ion-card class="riquadri">
        <ion-card class="riquadro">
          <ion-grid>
            <ion-row class="header">
                <ion-col>Esame</ion-col>
                <ion-col>CFU</ion-col>
                <ion-col>Completato</ion-col>
                <ion-col>Voto</ion-col>
                <ion-col>Accetta voto</ion-col>
            </ion-row>
            @for (exam of studentExams; track exam) {
                <ion-row>
                  <ion-col>{{ exam.name }}</ion-col>
                  <ion-col>{{ exam.cfu }}</ion-col>
                  <ion-col [class.completed]="exam.completed" [class.failed]="!exam.completed">
                    {{ exam.completed ? 'Completato' : 'Non completato' }}
                  </ion-col>
                  <ion-col>
                    {{ exam.voto !== undefined ? exam.voto : '-' }}
                  </ion-col>
                  <ion-col>
                    @if (exam.voto !== undefined && exam.votoAccettato === undefined) {
                      <ion-button class = "buttonAccetta" (click)="accettaVoto(exam)">Accetta</ion-button>
                      <ion-button class = "buttonRifiuta" (click)="rifiutaVoto(exam)">Rifiuta</ion-button>
                    }
                    @else if (exam.votoAccettato === true) {
                      <ion-col class = "completed">Accettato</ion-col>
                    }
                    @else if (exam.votoAccettato === false) {
                      <ion-col class = "failed">Rifiutato</ion-col>
                    }
                  </ion-col>
                </ion-row>
              }
              <ion-row>
                <ion-col><strong>CFU Totali: {{ totalCfu }} / {{ maxCfu }}</strong></ion-col>
              </ion-row>
               <ion-row>
                <ion-col><strong>Percentuale Completamento: {{ completePercentage.toFixed(2) }}%</strong></ion-col>
               </ion-row>
          </ion-grid>
        </ion-card>
      </ion-card>
    </ng-container>
  }




  -->
  

  @if (this.user?.role === 'professor') {
    <ng-container class="dashboard">
      <ion-title>Dashboard Professore</ion-title>
      <ion-card class ="riquadri">
        @for (exam of exams; track exam.exam_code) {}
        <ion-card class="riquadro">
          <ion-grid>
              <ion-row>
                <ion-col>Esame</ion-col>
                <ion-col>% Promossi</ion-col>
                <ion-col>% Bocciati</ion-col>
              </ion-row>
              @for (student of exams; track student.student_id) {
                <ion-row>
                  <ion-col>{{ student.student_first_name }} {{ student.student_last_name }}</ion-col>
                  <ion-col class="completed">%</ion-col>
                  <ion-col class="failed">%</ion-col>
                </ion-row>
              }
          </ion-grid>
        </ion-card>
      </ion-card>
    </ng-container>
  }

<!--
  @if(this.user?.role === "segreteria") {
    <ng-container class = "dashboard">
      <ion-title> Dashboard Segreteria </ion-title>
      <ion-card class = "riquadri">
        <ion-card class = "riquadro">
          <ion-grid>
              <ion-row>
                <ion-col> ID </ion-col>
                <ion-col> Professore </ion-col>
                <ion-col> Esami gestiti </ion-col>
              </ion-row>
              @for(prof of professors; track prof.id){
               <ion-row>
                <ion-col> {{ prof.id }} </ion-col>
                <ion-col> {{ prof.first_name }} {{prof.last_name}} </ion-col>
                <ion-col> {{getAllExamByProfessorID(prof.id)}} </ion-col>
               </ion-row>
              }
            </ion-grid>
          </ion-card>
        </ion-card>
      </ng-container>

  } -->
  </ng-container>
</ion-content>
