.summary{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    #e4fab0,
    #e2c41d 
  )
}


.summary ion-row{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.747);
  font-family: 'Gill Sans', Calibri;
}


ion-select{
     margin-top: 24px;
  }
  
ion-col ion-button{
    font-size: 14px;
    width: 150px;
}
.buttons[type="segreteriaButton"]{
  width: 80px;
}

@media(max-width: 768px){
.buttons[type="segreteriaButton"]{
  font-size: 14px;
}
    
}

@media(max-width: 576px){
  .buttons[type="segreteriaButton"]{
  font-size: 12px;
}
}
