<ion-header>
  <ion-toolbar>
    <ion-title>Piano di Studi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  @if (visualizzazione) {
    <ion-button expand="block" (click)="visualizzaEsami()">Visualizza esami disponibili alla prenotazione</ion-button>
    <ion-card class="summary">
      <ion-title>Esami</ion-title>
      <ion-grid class="esami-table">
        <ion-row>
          <ion-col>Codice Corso</ion-col>
          <ion-col>Codice Esame</ion-col>
          <ion-col>Nome Corso</ion-col>
          <ion-col>Data</ion-col>
          <ion-col>CFU</ion-col>
          <ion-col>Docente</ion-col>
          <ion-col>Numero Prenotati</ion-col>
          <ion-col>Azione</ion-col>
        </ion-row>
        @for (esame of esamiPrenotati; track esame.exam_code) {
          <ion-row>
            <ion-col>{{ esame.course_id }}</ion-col>
            <ion-col>{{ esame.exam_code }}</ion-col>
            <ion-col>{{ esame.exam_name }}</ion-col>
            <ion-col>{{ esame.date }}</ion-col>
            <ion-col>{{ esame.credits }}</ion-col>
            <ion-col>{{ esame.professor_first_name }} {{ esame.professor_last_name }}</ion-col>
            <ion-col>{{ esame.enrolled_students }}</ion-col>
            <ion-col>
                <ion-button size="small" (click)="unenrollFromExam(esame.exam_code, esame.exam_name)">Disiscriviti</ion-button>
              </ion-col>
          </ion-row>
        }
      </ion-grid>
    </ion-card>
  } @else {
    <ion-button expand="block" (click)="visualizzaEsami()">Visualizza esami prenotati</ion-button>

    <ion-card class="study-plan">
      <ion-title>Seleziona gli esami</ion-title>
      <form>
        <ion-item class="search">
          <ion-input type="text" placeholder="Cerca esame per codice o nome esame..." (ionInput)="onSearch($event)"></ion-input>
        </ion-item>

        <ion-grid class="esami-table">
          <ion-row>
            <ion-col>Codice Corso</ion-col>
            <ion-col>Nome Esame</ion-col>
            <ion-col>CFU</ion-col>
            <ion-col>Numero Prenotati</ion-col>
            <ion-col>Data</ion-col>
            <ion-col>Docente</ion-col>
            <ion-col>Azione</ion-col>
          </ion-row>
          @for (esame of esami; track esame.code) {
            <ion-row>
              <ion-col>{{ esame.course_id }}</ion-col>
              <ion-col>{{ esame.name }}</ion-col>
              <ion-col>{{ esame.credits }}</ion-col>
              <ion-col>{{ esame.enrolled_students }}</ion-col>
              <ion-col>{{ esame.date }}</ion-col>
              <ion-col>{{ esame.professor_first_name }} {{ esame.professor_last_name }}</ion-col>
              <ion-col>
                <ion-button size="small" (click)="seleziona(esame.code!)">Aggiungi</ion-button>
              </ion-col>
            </ion-row>
          }
        </ion-grid>
      </form>
    </ion-card>
  }
</ion-content>
