ion-grid{
  width: 100%;
  max-width: 80rem;
  overflow: hidden;
}

ion-col{        
  display: flex;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;   

}

  @media (max-width: 767px) {
  ion-col ion-button {
    display: block;
    min-width: 550px;
  }
}

